{% extends "base.html.twig" %}

{% block section2 %}
    <div class="form-container">
        {{ form_start(formAuteur) }}
        <div>
            <label>entrer le nom de l'auteur</label><br>
            {{ form_widget(formAuteur.name, {'attr': {'placeholder': 'titre du livre'}}) }}
        </div>
        <div>
            <label>Enter le nom de l'auteur</label><br>
            {{ form_widget(formAuteur.firstName, {'attr': {'placeholder': 'nom de l\'auteur'}}) }}
        </div>
        <div>
            <label>entrer la description du livre</label><br>
            {{ form_widget(formAuteur.birthDate, {'attr': {'placeholder': 'description du livre'}}) }}
        </div>
        <div>
            <label>Renseigner le nombre de pages</label><br>
            {{ form_widget(formAuteur.deathDate, {'attr': {'placeholder': 'nombre de page'}}) }}
        </div>
        <div>
            <button type="submit">Ajouter le livre</button>
        </div>
        {{ form_end(formAuteur) }}
    </div>
{% endblock %}