{% extends "admin/base.html.twig" %}

{% block section2 %}
    <div class="blocArticles">
        <ul>
            {% for auteur in auteurs %}
                <li>
                    <h4><a href="{{ path('admin_show_auteur', {'id':auteur.id}) }}">{{ auteur.name }}</a></h4>
                    <p>Birth Date : {{ auteur.birthdate | date('d/m/Y') }}</p>

                    {% if author.deathDate %}
                        <p>Mort: {{ auteur.deathDate| date('d-m-Y') }}</p>
                    {% endif %}

                    <p> biography : {{ auteur.biography }}</p>
                    <p> <a href="{{ path('admin_delete_auteur', {'id':auteur.id}) }}">Suprimer l'auteur</a></p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}